.main {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 5vw;
}
.navbar {
	display: flex;
	flex-direction: column;
	justify-self: flex-start;
	align-self: flex-start;
	position: sticky;
	flex: 1 2;
	top: 0;
	left: 0;
	padding: 2rem;
	max-width: 20rem;
	min-width: 15rem;
	height: 100vh;
	border-top-right-radius: 20px;
	background-color: var(--color-background);
}

.nav * {
	display: block;
	color: var(--color-link);
	text-decoration: none;
	line-height: 2;
}

.nav *:hover {
	text-decoration: underline;
	color: var(--color-link-hover);
}
.description {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: 2;
	font-family: Arial, Helvetica, sans-serif;
	height: 100%;
	padding: 2rem;
	row-gap: 1rem;
	max-width: 60vw;
	min-width: 20vw;
	backdrop-filter: blur(8px);
}

.description article h2 {
	line-height: 5rem;
}

.description article p {
	line-height: 2rem;
	word-wrap: break-word;
}

.description a {
	color: var(--color-link);
	text-decoration: none;
}

.description a:hover {
	color: var(--color-link-hover);
	text-decoration: underline;
}

.description dt {
	display: list-item;
	margin-left: 2.5rem;
	list-style-type: disc;
}

.description dd {
	display: list-item;
	margin-left: 3.5rem;
	list-style-type: circle;
}

.description code {
	font-family: var(--font-mono);
	font-size: 1em;
	padding: 0.2em 0.4em;
	white-space: break-spaces;
	border-radius: 6px;
	background-color: var(--color-code);
}

.description pre {
	padding: 1rem;
	overflow: auto;
	line-height: 1.45;
	border-radius: 6px;
}

.description pre code {
	padding: 0;
	margin: 0;
	overflow: visible;
	word-wrap: normal;
}

.description table {
	border: 1px solid;
	border-collapse: collapse;
}

.description table th {
	border: 1px solid;
	padding: 0.3rem;
}
.description table td {
	border: 1px solid;
	padding: 0.3rem;
}

.footer {
	position: sticky;
	left: 0;
	bottom: 0;
	background-color: var(--color-background);
}
.footer p {
	display: inline;
	padding: 0 1rem;
	color: white;
}
